body {
    color: #222;
    background: #fff;
    font: 100% system-ui;
  }
  a {
    color: #0033cc;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  
    body a {
      color: #809fff;
    }
  }

title {
    font-size: x-large
}

.content {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
}

.header {
    margin: auto;
    text-align: left;
    width: 50%;
    padding: 10px;
}

.posts {
    font-size: larger;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.twitter-tweet {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
}